/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{

font-family: 'Zen Kaku Gothic New', sans-serif;
background-color: white;
}

img {
    max-width: 100%;
    vertical-align: bottom;
  }

.font-sm {
    font-size: 10px;

}
.font-md {
    font-size: 17px;

}
.font-lr {
    font-size: 17px;

}
.font-lg {
    font-size: 25px;

}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.main-title {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px 4px;
    border-left: 15px solid #05ccad;
    background-color: #EFFBF8;
    margin-bottom: 0;
    display: block;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 30px;
  }
  .sub-title {
    @extend .font-sm;
    color: $cSubTitle;
  }

.flex{
    display:flex;
    flex-direction: column;
}

.logo {
    font-size: 25px;
    display: flex;

    &__img {
        width: 1.5em;
    }

    &__paint_1{
        padding-top: 4px;
        font-size: 10px;
        margin-left: 10px;
        color:grey;
        margin-right: 70px;
        margin-bottom: 0;
    }

    &__paint_2{
        font-size: 23px;
        margin-left: 10px;
        color:$cBlack;
        margin-right: 70px;
        margin-bottom: 0;
        font-weight: 700;
    }



    &__title{
        display: flex;
        flex-direction: column;
    }

    &__paint_footer {
        color:$cBlack;
        margin-right: 70px;
        margin-left: 5px;
        font-weight: 700;
    }
}

#content {
    padding-top: $navHeight;
}

#container {
    transition: transform 0.5, box-shadow 0.5s;
    position: relative;
    z-index: 10;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    line-height: 1;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
      }

    &__nav {
        display: none;
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        margin-left: 20px;

        & > a {
            color:$cBlack;
            text-decoration: none !important;
        }
    }

    &.logo {
        justify-content: center;
        font-size: 30px;

    }

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
    }
}

.footer {
    padding-top: 20px;
    background-image: url(../images/email-pattern.png);
    margin-bottom: 80px;
    padding: auto;

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul {
        @extend .flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        padding: 0;
        margin: 0px;

        & > a {
            color:$cSubTitle;
        }
    }

    &.logo {
        font-size: 28px;
        justify-content: center;
        margin-right: 80px;
    }
}

.cost_info{
    margin-bottom: 10px;

    &__pic{
        margin-top: 15px;
    }
}

.cost_info_content_1{
    margin-top: 15px;
    overflow:scroll;
    width:100%; 
    height:174px; 
}

.info_style{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.info__li{
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;

    & > a {
        color:$cSubTitle;
    }
}

.date{
    margin-bottom: 0;
    margin-left: 20px;
}

.example{
    background-image: url(../images/trees.png);
    margin-bottom: 50px; 
    display: flex;
    @extend .content-width;
    flex-direction: column;

    &__box1{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        

    }

    &__box2{
        margin-bottom: 50px;
        display: flex;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    }



    &__pic{
        flex:1
        
    }

    &__p{
        max-width:100% ;
        height: 146px;
    }

    &__content{
        background-color: white;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        flex:1 
    }

    &__para{
        margin-bottom: 0;
    }

    &__ul{
        margin-bottom: 0;
        padding-left:20px;
    }


    
}

.work{
    &__inner{
        @extend .content-width;
        margin-top: 20px;
}
}

.example_image{
    width:600px;
    height:200px;
}

.reason{
    height: 1300px;
    background-image: url(../images/hip-square.png);
    margin-top: 20px;
    margin-bottom: 20px; 
    

    &__head{
    }

    &__title{
        background: rgb(9,121,108);
        background: radial-gradient(circle, rgba(9,121,108,1) 0%, rgba(255,255,255,1) 0%, rgba(25,235,215,1) 38%, rgba(25,235,215,1) 44%);
        font-family: "ヒラギノ明朝 ProN W6", HiraMinProN-W6, HG明朝E, "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-shadow: rgb(0, 88, 168) 0px 0px 6px;
        height: 50%;
        margin-bottom: 10px;
    }

    &__span{
    color: #c00;
    font-size: 80px;
    margin-top: 10px;
    position: relative;
    text-shadow: #fff 1px 1px 1px, #fff -1px 1px 0, #fff 1px -1px 1px, #fff -1px -1px 1px, 0 0 6px #0058a8;
    top: 20px;
    }


    &__para{
        font-size: 13px;
        margin-top: 20px;
        
    }

    &__ul{
        list-style: none;
        padding: 0;
        font-size: 20px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
    }

    &__li {
        margin-left: 20px;

        & > a {
            color:$cBlack;
        }

    }

    &__title_style{
        font-size: 19px;
        max-width: 400px;
        text-align: center;
        
    }

    &__title_space{
        margin: 0px 0px 0px 0px;
    }
}

.para_1{
    background-color: white;
    padding: 15px;
    font-family: "ヒラギノ明朝 ProN W6", HiraMinProN-W6, HG明朝E, "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    color: #0058a8;
    display: block;
    font-size: 10px;
    margin-bottom: 30px;
    box-shadow: 1px 3px 26px -1px rgba(0,0,0,0.6);
    text-align: center;
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }

}

.para_2{
    background-color: white;
    padding: 15px;
    font-family: "ヒラギノ明朝 ProN W6", HiraMinProN-W6, HG明朝E, "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    color: #0058a8;
    display: block;
    font-size: 10px;
    margin-bottom: 30px;
    box-shadow: 1px 3px 26px -1px rgba(0,0,0,0.6);
    text-align: center;
}

.para{
    background-color: white;
    font-size: 13px;
    color: black;
    
}

.please{
    @extend .content-width;
    margin-top: 80px;
    margin-bottom: 25px;

    &__box{
        padding: 10px 20px;
        background-color: #05ccad;


    }
    &__title{
        font-size: 20px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    &__content{
        font-size: 13px;
        color:white;
    }
}

.houses{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;

    &__btnc{
        margin-left: 100px;
        left: 3px;
    }
}

.houses__btn{
    width: 100%;
    @extend .content-width;
    margin-top: 20px;
    text-align: center;
    height: 60px;
}

#button_font{

    font-size: 15px;
}
.logo_adjustment{
    margin-left: 70px;
}

.menu_style{
    font-size: 5px;
    margin:0 0 0 0;
    font-weight: bold;
}

.number{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
}

.number1{
    color: green;
    font-size: 25px;
    margin-top: 10px;
    position: relative;
}

.anim-box{

}

.anim-box.slidein.is-animated {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
.area{
    margin-bottom: 30px;
    &__title{
            text-align: center;
            font-size: 30px;
        }
    &__para{
        text-align: center;
        font-size: 13px;

    }
    }

.container_footer{
    padding-bottom: 60px;
    box-sizing: border-box;
}

.solid{
    width: 100%;
    height: 50px;
    position: fixed !important;
    position: absolute;
    bottom: 0;
    height: 100px;
   // background-image: url(../images/email-pattern.png);
    display: flex;
    align-items: center;
    z-index: 200;
    line-height: 1;

}

.flow_pic{
    margin-top: 10px;
}

.question{
    font-size: 15px;

    &__form{
    width:100%px;
    margin-top:20px;
    margin-right: 15px;
    margin-left: 15px;
    }

    &__title{
        font-size: 20px;
    }

    &__q{
        width: 100%;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    &__cat{
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid;
        border-color: grey;
    }

    &__box{
        padding: 10px;
        background-color: rgb(255, 235, 235);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.18);
        font-weight: 600;
    }

    &__cbox{
        margin-bottom: 10px;
        background-color: white;
        padding:5px 5px 5px 5px;
        border-radius: 4px;
        border: 2px solid #ccc;
    }

    &__cbox3{
        background-color: white;
        padding:5px 5px 5px 5px;
        border-radius: 4px;
        border: 2px solid #ccc;
    }

    &__check{
        color: grey;
        //padding-top: 4px !important; 
        margin-right: 4px;
        margin-top: 4px;
    }

    &__text{
        background-color: rgb(255, 235, 235);
        border: 1px solid #aaa;
        color: #1a1a1a;
        display: inline-block;
        font-family: inherit!important;
        line-height: 1.4;
        outline: 0;
        padding: 10px 10px 8px;
    }
}


.required-mark{
    background-color: #cc0f19;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin-left: 13px;
    padding: 3px 8px 4px;
    font-size: 13px;
    font-size: 1.3rem;
}


