/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{

font-family: 'Zen Kaku Gothic New', sans-serif;

}

img {
    max-width: 100%;
    vertical-align: bottom;
  }

.font-sm {
    font-size: 10px;

}
.font-md {
    font-size: 17px;

}
.font-lr {
    font-size: 17px;

}
.font-lg {
    font-size: 25px;

}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.main-title {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px 4px;
    border-left: 15px solid #05ccad;
    background-color: #EFFBF8;
    margin-bottom: 0;
    display: block;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .sub-title {
    @extend .font-sm;
    color: $cSubTitle;
  }

.flex{
    display:flex;
    flex-direction: column;
}

.logo {
    font-size: 25px;
    display: flex;

    &__img {
        width: 1.5em;
    }

    &__paint {
        margin-left: 10px;
        color:$cBlack;
        margin-right: 70px;
        margin-bottom: 0;
    }

    &__paint_footer {
        color:$cBlack;
        margin-right: 70px;
        margin-left: 60px;
    }
}

#content {
    padding-top: $navHeight;
}

#container {
    transition: transform 0.5, box-shadow 0.5s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
      }

    &__nav {
        display: none;
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        margin-left: 20px;

        & > a {
            color:$cBlack;
            text-decoration: none !important;
        }
    }

    &.logo {
        justify-content: center;
        font-size: 30px;

    }

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
    }
}

.footer {
    padding: auto;
    @extend .content-width;

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul {
        @extend .flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        padding: 0;
        margin: 0px;

        & > a {
            color:$cSubTitle;
        }
    }

    &.logo {
        font-size: 28px;
        justify-content: center;
        margin-right: 80px;
    }
}

.cost_info{
    margin: 0;
}

.info_style{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.info__li{
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;

    & > a {
        color:$cSubTitle;
    }
}

.date{
    margin-bottom: 0;
    margin-left: 20px;
}